openapi: 3.1.0
info:
  title: x402 List API
  version: 1.0.0
  description: 'Public REST API for x402-list.com - the directory of all services using the x402 protocol
    (HTTP 402 Payment Required). x402 is an open standard by Coinbase for internet-native, agent-first
    payments. This API provides programmatic access to service listings, uptime monitoring data, pricing
    information, and network stats. No authentication required for read access. Rate limited to 200 req/min
    per IP. Reads are free for agents and point queries; sustained bulk pulling beyond 2,000 GET requests/day
    per IP (UTC day) on /api/v1/* is metered via x402 at $0.01/request on Base. Metered responses carry
    an X-Meter-Remaining header (free requests left today for this IP) and an X-Meter-Reset header (the
    Unix timestamp in seconds at which that daily quota resets, the next 00:00 UTC). The directory data
    returned by this API is licensed CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/); the API
    specification document itself stays MIT (see license). Reuse is permitted with attribution to x402-list.com.
    Every 2xx JSON response from the endpoints documented here is wrapped in an envelope carrying a single
    top-level provenance object (see the Provenance schema) that declares the data license, the required
    attribution string, and a cite_as canonical URL; those responses also send a Link: <https://creativecommons.org/licenses/by/4.0/>;
    rel="license" header. To request delisting, email info@x402-list.com or update your listing at /services/<slug>/update.
    Example values shown throughout this specification are illustrative and synthetic; query the live
    endpoints for current figures.'
  contact:
    name: x402 List
    url: https://x402-list.com
    email: info@x402-list.com
  termsOfService: https://x402-list.com/terms
  license:
    name: MIT
  x-data-license: CC-BY-4.0
servers:
- url: https://x402-list.com/api/v1
  description: Production
paths:
  /services:
    get:
      operationId: listServices
      summary: List all x402 services
      description: Returns a paginated list of registered x402 services with computed fields like uptime,
        pricing, and endpoint count. Supports filtering by network, status, category, verification state,
        signability of the 402 envelope, and full-text search.
      tags:
      - Services
      parameters:
      - name: network
        in: query
        schema:
          type: string
        description: Filter by single network abbreviation (e.g. BSE, SOL, POL; the full list is served
          by /networks). An unrecognized abbreviation returns 400 Bad Request.
        example: BSE
      - name: status
        in: query
        schema:
          type: string
          enum:
          - online
          - degraded
          - offline
          - unknown
        description: Filter by service status. An unrecognized value returns 400 Bad Request; omit the
          parameter to include every status.
      - name: category
        in: query
        schema:
          type: string
          enum:
          - AI
          - Blockchain
          - Compute
          - Content
          - Data
          - Finance
          - Other
          - Verification
        description: Filter by category, one of the closed category set (case-insensitive). A value outside
          the set returns 400 Bad Request; omit to include every category.
        example: AI
      - name: verified
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        description: 'Filter by the FORTE verification tier: a paid delivery-probe settled on-chain and
          delivered AND the badge was not since revoked on payTo/schema drift (no time decay). true =
          delivery-verified only, false = everything else. Omit to include both. SEMANTIC CHANGE (treno
          D3): this filter previously meant "answered a valid x402 challenge and is alive" - that broad
          signal is now the payment_ready parameter. This tier starts empty and grows only with real payments,
          so verified=true can legitimately return 0 rows. Applied server-side, so meta.total counts the
          filtered set. Any other value returns 400 Bad Request.'
        example: 'true'
      - name: payment_ready
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        description: 'Filter by the BASE payment-ready tier: the endpoint answered a valid x402 402 challenge
          and is alive within the decay window (a probe success within the last 7 days, or it is api-key
          exempt). true = payment-ready only, false = everything else. Omit to include both. This is the
          broad discovery signal the verified parameter used to carry before treno D3. Applied server-side,
          so meta.total counts the filtered set. Any other value returns 400 Bad Request.'
        example: 'true'
      - name: source
        in: query
        schema:
          type: string
          enum:
          - submitted
          - imported
          - imported:bazaar
          - imported:x402scan
          - all
        description: 'Filter by provenance (how the listing entered the directory, matching the source
          field on each item): submitted, imported (any imported:* origin), imported:bazaar, imported:x402scan,
          or all for no filter. An unrecognized value returns 400 Bad Request.'
        example: submitted
      - name: signable
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        description: 'Filter on the SIGNABILITY of the last observed 402 envelope: true = no EVM route
          of the service was observed missing the EIP-712 domain parameters (extra.name and extra.version)
          that a standard x402 client requires in order to sign a payment; false = at least one such route
          was observed. This describes the payment envelope on the wire, not the merit or reliability
          of the service. Derived from the eip712_domain_extra check of the latest assessment (the same
          id that appears in assessment.compliance_failed_checks). A service whose latest assessment has
          not measured that check yet (never assessed, assessed before the check existed, or assessed
          with no 402 payload captured at all) matches NEITHER value: omit the parameter to include it.
          Applied server-side, so meta.total counts the filtered set. Any other value returns 400 Bad
          Request.'
        example: 'true'
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - newest
          - uptime
          - cheapest
          - endpoints
          default: newest
        description: Sort order. A value outside the enum returns 400 Bad Request.
      - name: q
        in: query
        schema:
          type: string
        description: Case-insensitive substring search across name, description, category, and base URL.
          The search and query parameters are accepted as aliases; q takes precedence when more than one
          is sent.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Page number
      - name: per_page
        in: query
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
        description: Results per page
      responses:
        '200':
          description: Paginated list of services
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceListItem'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
              example:
                data:
                - slug: weather-x402
                  name: Weather x402
                  description: Real-time weather data via x402 micropayments
                  base_url: https://weather-x402.example.com
                  category: Data
                  source: submitted
                  status: online
                  verified: true
                  payment_ready: true
                  endpoint_count: 3
                  min_price_usd: 0.001
                  networks:
                  - BSE
                  - SOL
                  networks_caip2:
                  - eip155:8453
                  - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
                  uptime_24h: 99.8
                  avg_response_time_ms: 145
                  last_checked_at: '2026-04-13T10:30:00Z'
                  created_at: '2026-03-01T00:00:00Z'
                meta:
                  total: 15
                  page: 1
                  per_page: 25
                  total_pages: 1
        '400':
          description: Invalid filter value (status, sort, network, category, verified, payment_ready,
            source, or signable outside the accepted set)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /services/{slug}:
    get:
      operationId: getService
      summary: Get service detail
      description: Returns full details for a single service including all active endpoints with their
        current pricing, uptime windows (24h/7d/30d/90d), average response time, and total check count.
      tags:
      - Services
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: Service URL slug
        example: weather-x402
      responses:
        '200':
          description: Service detail with endpoints and pricing
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ServiceDetail'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /services/{slug}/uptime:
    get:
      operationId: getServiceUptime
      summary: Get service uptime history
      description: Returns daily uptime snapshots for a service over the specified period. Each data point
        includes uptime percentage, average response time, and check counts.
      tags:
      - Services
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        example: weather-x402
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 24h
          - 7d
          - 30d
          - 90d
          default: 30d
        description: Time period
      responses:
        '200':
          description: Array of daily uptime data points
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UptimeDataPoint'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /services/{slug}/price:
    get:
      operationId: getServicePriceHistory
      summary: Get service price history
      description: Returns the captured HTTP 402 price movement over time for a service (USD), oldest
        first. Each point carries the endpoint id, network, and asset it was recorded for; independent
        endpoint/network/asset series are interleaved by time. is_current is not filtered, so this is
        the full price-movement series, not just the current price.
      tags:
      - Services
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        example: weather-x402
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 24h
          - 7d
          - 30d
          - 90d
          - all
          default: 90d
        description: Time window; "all" reads the full recorded history.
      responses:
        '200':
          description: Array of price points (oldest first)
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PricePoint'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '400':
          description: Invalid period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /services/{slug}/scores:
    get:
      operationId: getServiceScores
      summary: Get service assessment sub-score history
      description: 'Returns the MEASURED assessment sub-scores over time (x402 compliance grade plus reliability
        uptime/response windows), oldest first, one point per assessment run. These are the sub-scores
        only, not the ranked composite score published on the service page (that one is computed live
        over the current pool by GET /api/v1/best), and nothing on the point is AI-derived; the series
        is honest-empty until the service has been assessed. Read compliance_passed against the compliance_total
        of the SAME point, never against the current one: the checklist grew from 11 to 14 checks when
        the three signability checks landed (x402_version_current, eip712_domain_extra, version_channel_coherent),
        so the series carries a step at that date. Earlier points keep the denominator they were actually
        measured with; they are not recomputed, because that would mean rewriting an observation after
        the fact.'
      tags:
      - Services
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        example: weather-x402
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 24h
          - 7d
          - 30d
          - 90d
          - all
          default: 90d
        description: Time window; "all" reads the full recorded history.
      responses:
        '200':
          description: Array of sub-score points (oldest first)
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScorePoint'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '400':
          description: Invalid period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /services/{slug}/volume:
    get:
      operationId: getServiceVolume
      summary: Get service on-chain settlement volume history
      description: 'Returns the MEASURED on-chain settlement volume for a service over time (USD), one
        point per UTC day, oldest first. Volume is read directly from the chain by settler-address attribution
        over the service payTo mapping (USDC settlements only), never self-reported. It is a conservative
        undercount: only settlements the settler-attribution monitor observed are included, so a service
        can have real volume this series does not yet see. The series is honest-empty until a settlement
        is observed, and a service whose payTo sits on a network not under measurement will read empty
        here (see the assessment.traction status for why). Days with no observed settlement are omitted,
        so the series is sparse (one point per settled UTC day), not a dense daily grid.'
      tags:
      - Services
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        example: weather-x402
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 24h
          - 7d
          - 30d
          - 90d
          - all
          default: 90d
        description: Time window; "all" reads the full recorded history.
      responses:
        '200':
          description: Array of daily volume points (oldest first)
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VolumePoint'
                  caveat:
                    type: string
                    description: 'Fixed in-band note: the series is a conservative undercount and is operator-level
                      (the full payout address), not pro-rata, so do not sum it across services that share
                      a payout address'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '400':
          description: Invalid period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /services/{slug}/buyers:
    get:
      operationId: getServiceBuyers
      summary: Get service distinct on-chain buyer history
      description: Returns the MEASURED distinct on-chain buyer count for a service over time, one point
        per UTC day, oldest first. Distinct buyers are counted straight from the raw settlements per day
        (never summed across a rollup) over the service payTo mapping, USDC settlements only. Like the
        volume series it is a conservative undercount (only what the settler-attribution monitor observed)
        and honest-empty until a settlement is observed. Days with no observed settlement are omitted,
        so the series is sparse (one point per settled UTC day), not a dense daily grid.
      tags:
      - Services
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        example: weather-x402
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 24h
          - 7d
          - 30d
          - 90d
          - all
          default: 90d
        description: Time window; "all" reads the full recorded history.
      responses:
        '200':
          description: Array of daily distinct-buyer points (oldest first)
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BuyersPoint'
                  caveat:
                    type: string
                    description: 'Fixed in-band note: the series is a conservative undercount and is operator-level
                      (the full payout address), not pro-rata, so do not sum it across services that share
                      a payout address'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '400':
          description: Invalid period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /services/{slug}/checks:
    get:
      operationId: getServiceChecks
      summary: Get service check logs
      description: Returns raw monitoring check logs for a service, ordered by most recent first. Includes
        status code, response time, and endpoint discovery count.
      tags:
      - Services
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        example: weather-x402
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
        description: Number of results
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
          maximum: 50000
        description: Offset for pagination. Capped at 50000 (deep-pagination ceiling); a higher value
          is clamped down to that ceiling, not rejected.
      responses:
        '200':
          description: Check logs with total count
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CheckEntry'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /facilitators:
    get:
      operationId: listFacilitators
      summary: List x402 facilitators by on-chain verified volume
      description: 'Returns x402 facilitators ranked by their independently on-chain-verified USDC settlement
        volume across all measured chains. Volume is measured directly from blockchain transactions (settler-address
        attribution, EIP-3009 transferWithAuthorization to USDC). It is NOT self-reported or dashboard-quoted.
        For USDC, USD volume equals token volume 1:1. Each row carries 24h/7d/30d volume + settlement
        counts, the last on-chain activity timestamp, and the number of settler EOAs. Pass include=timeseries
        to also receive a per-facilitator daily volume series for charting, and/or include=chains for
        the per-(network,token) breakdown. Combine them comma-separated: include=timeseries,chains.'
      tags:
      - Facilitators
      parameters:
      - name: timeframe
        in: query
        schema:
          type: string
          enum:
          - 24h
          - 7d
          - 30d
          - all
          default: 7d
        description: Window that drives the sort order (volume descending); 'all' = all-time
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - timeseries
            - chains
        style: form
        explode: false
        description: 'Comma-separated optional embeds: "timeseries" (daily volume series per facilitator)
          and/or "chains" (per-(network,token) breakdown). Example: include=timeseries,chains'
      - name: days
        in: query
        schema:
          type: integer
          default: 30
          minimum: 1
          maximum: 90
        description: Length of the embedded timeseries window (only with include=timeseries)
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Page number
      - name: per_page
        in: query
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
        description: Results per page
      responses:
        '200':
          description: Paginated list of facilitators with on-chain volume
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FacilitatorListItem'
                  meta:
                    $ref: '#/components/schemas/FacilitatorPaginationMeta'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
              example:
                data:
                - facilitator_id: coinbase
                  name: Coinbase
                  website_url: https://docs.cdp.coinbase.com/x402
                  volume_usd_24h: 41250.5
                  volume_usd_7d: 289110.75
                  volume_usd_30d: 1203400
                  volume_usd_all: 8841200
                  tx_count_24h: 8123
                  tx_count_7d: 56720
                  tx_count_30d: 241990
                  tx_count_all: 1894220
                  last_activity_at: '2026-06-16T09:00:00Z'
                  first_activity_at: '2026-01-01T00:00:00Z'
                  settler_count: 12
                  verification: on-chain
                meta:
                  total: 3
                  page: 1
                  per_page: 25
                  total_pages: 1
                  timeframe: 7d
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /facilitators/{id}:
    get:
      operationId: getFacilitator
      summary: Get a single facilitator detail
      description: 'Full detail for one facilitator (TRENO A D5): the list-row volume and settlement figures
        plus the per-(network, token) chains breakdown (now carrying first_activity_at), the on-chain
        settler EOAs, per-chain distinct buyers, average USD per settlement, a 7-day-vs-previous-7-day
        trend, the daily volume series (period=all returns the full history, matching the services), and
        the listed_services bridge (which directory services settle on-chain via this facilitator). An
        unknown id is matched case-insensitively and 301-redirected to the canonical id before a 404,
        since the stored id drives on-chain volume attribution byte-exact. avg_settlement_usd_all and
        avg_settlement_usd_30d are volume over settlement count and are null (never a fabricated 0) when
        there is nothing to average; trend_7d_vs_prev_7d is null when the previous window is empty. The
        buyers total is a declared UPPER BOUND: distinct buyers are counted per chain and never de-duplicated
        across chains or tokens, so prefer the per-chain figures.'
      tags:
      - Facilitators
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Facilitator id (case-insensitive; a non-canonical casing 301s to the canonical id)
        example: coinbase
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 30d
          - all
          default: 30d
        description: Window for the daily series; "all" returns the full-history series (matches the services
          period=all).
      - name: series_by
        in: query
        schema:
          type: string
          enum:
          - total
          - chain
          default: total
        description: 'Shape of the series: per-day totals ("total") or per-(day, network) ("chain").'
      responses:
        '200':
          description: Single facilitator detail node
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FacilitatorDetail'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
              example:
                data:
                  facilitator_id: coinbase
                  name: Coinbase
                  website_url: https://docs.cdp.coinbase.com/x402
                  volume_usd_24h: 41250.5
                  volume_usd_7d: 289110.75
                  volume_usd_30d: 1203400
                  volume_usd_all: 8841200
                  tx_count_24h: 8123
                  tx_count_7d: 56720
                  tx_count_30d: 241990
                  tx_count_all: 1894220
                  last_activity_at: '2026-06-16T09:00:00Z'
                  settler_count: 12
                  verification: on-chain
                  avg_settlement_usd_all: 4.67
                  avg_settlement_usd_30d: 4.97
                  trend_7d_vs_prev_7d: 1.12
                  buyers:
                    by_chain:
                    - network: base
                      network_caip2: eip155:8453
                      unique_buyers_30d: 3120
                    - network: solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
                      network_caip2: solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
                      unique_buyers_30d: 940
                    total_upper_bound_30d: 4060
                    caveat: Distinct buyers are counted per chain from the daily snapshots. A buyer active
                      on more than one day is counted once per active day, and buyers on different chains
                      or tokens are not de-duplicated, so total_upper_bound_30d is an upper bound, not
                      an exact head count. Prefer the per-chain figures.
                  chains:
                  - network: base
                    network_caip2: eip155:8453
                    token_address: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
                    token_address_norm: '0x833589fcd6edb6e08f4c7c32d4f71b54bda02913'
                    asset_name: USDC
                    volume_usd_24h: 41250.5
                    volume_usd_7d: 289110.75
                    volume_usd_30d: 1203400
                    volume_usd_all: 8841200
                    tx_count_all: 1894220
                    first_activity_at: '2026-04-05T00:00:00Z'
                    last_activity_at: '2026-06-16T09:00:00Z'
                    verification: on-chain
                  settlers:
                  - address: '0x2a9e8fa63c9d4e1b7a5c6f8d0e2b4a6c8d0f1a3b'
                    network: base
                    network_caip2: eip155:8453
                    source: x402scan
                    last_seen_at: '2026-06-16T09:00:00Z'
                    token_name: USDC
                    token_decimals: 6
                    enabled: true
                  listed_services:
                    all_time_count: 7
                    active_count_30d: 4
                    top:
                    - slug: netintel
                      name: NetIntel
                      status: online
                      volume_usd_30d: 842.15
                      tx_count_30d: 210
                    caveat: Services listed in this directory that have settled on-chain via this facilitator.
                      Volume is the service 30d figure over its payout mapping (a conservative floor,
                      USDC via measured facilitators only); services that share a payout address are counted
                      at the address level here. The all-time count is null until the hourly precompute
                      records it.
                  series:
                  - date: '2026-06-15'
                    volume_usd: 40120.4
                    tx_count: 8010
                  - date: '2026-06-16'
                    volume_usd: 41250.5
                    tx_count: 8123
                  method: Settlement volume is measured directly on-chain by settler-address attribution
                    (USDC), never self-reported.
                  caveat: A measured floor, not an ecosystem total. Average USD per settlement is volume
                    divided by settlement count over the window (null when there are no settlements),
                    and the trend compares the last 7 days to the previous 7. The 24h figures are today
                    so far in UTC, not a trailing 24 hours.
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /checks:
    get:
      operationId: getGlobalChecks
      summary: Global live feed of all checks
      description: Returns the most recent monitoring checks across ALL services, ordered by time descending.
        Useful for building a real-time feed or dashboard of x402 ecosystem health.
      tags:
      - Checks
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
          maximum: 50000
        description: Offset for pagination. Capped at 50000 (deep-pagination ceiling); a higher value
          is clamped down to that ceiling, not rejected.
      responses:
        '200':
          description: Global check feed with total count
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GlobalCheckEntry'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /status:
    get:
      operationId: getStatus
      summary: Global status summary
      description: Returns aggregate status counts (online/degraded/offline/unknown) and per-service status
        with uptime and response time. Use this for a quick health overview of the x402 ecosystem.
      tags:
      - Status
      responses:
        '200':
          description: Status summary with per-service breakdown
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/StatusSummary'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /changes:
    get:
      operationId: listServiceChanges
      summary: Feed of service change events
      description: 'Returns change events detected on the live x402 wire: a payTo (settlement address)
        rotation, a price move, or a schema change (endpoints, networks, assets, or protocol version added
        or removed). Each event is diffed from the ENTIRE accepts[] a service returns on every probe,
        so a payTo rotation at an unchanged price - invisible to price-only tracking - shows up here.
        Newest first, over a rolling window (days). Events are retained perpetually; the window only bounds
        the feed. meta.type_counts breaks the window down by event type and meta.window_total gives the
        events in it, so ONE call returns all four figures (before, the breakdown took a filtered call
        per type plus one more for the total). Both cover the whole window: they are scoped by days and
        by the service filter, but NOT by the type filter. So with ?type=price_changed, meta.total counts
        the filtered feed you are paging while meta.type_counts still reports every type; the two are
        meant to differ. Each type in the enum is always present, 0 included, and type_counts sums to
        meta.window_total while every event carries one of the enum types; a type not yet in the enum
        still counts toward window_total but into no bucket.'
      tags:
      - Changes
      parameters:
      - name: service
        in: query
        schema:
          type: string
        description: Filter to a single service by slug.
      - name: type
        in: query
        schema:
          type: string
          enum:
          - payto_changed
          - price_changed
          - schema_changed
        description: Filter by event type. A value outside the enum returns 400 Bad Request.
      - name: days
        in: query
        schema:
          type: integer
          default: 90
          minimum: 1
          maximum: 365
        description: Rolling window in days (clamped to 1-365).
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Page number
      - name: per_page
        in: query
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
        description: Results per page
      responses:
        '200':
          description: Paginated feed of change events, newest first
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceChangeEvent'
                  meta:
                    allOf:
                    - $ref: '#/components/schemas/PaginationMeta'
                    - type: object
                      properties:
                        days:
                          type: integer
                          description: Rolling window in days applied to this feed
                        type_counts:
                          type: object
                          description: Events per type over the whole window, scoped by days and by the
                            service filter but NOT by the type filter. Every type in the enum is present,
                            0 included, so an absent type and a type with no events are never confused.
                          properties:
                            payto_changed:
                              type: integer
                            price_changed:
                              type: integer
                            schema_changed:
                              type: integer
                        window_total:
                          type: integer
                          description: Events in the whole window, ignoring the type filter. Equals meta.total
                            when no type filter is set. It equals the sum of type_counts while every event
                            carries one of the enum types; a type not yet in the enum is counted here
                            but in no bucket.
                  provenance:
                    $ref: '#/components/schemas/Provenance'
              example:
                data:
                - slug: acme-generate
                  name: Acme Generate
                  type: payto_changed
                  observed_at: '2026-07-24T09:12:00.000Z'
                  summary:
                    payToAdded:
                    - 0x1111…1111
                    payToRemoved:
                    - 0x2222…2222
                  old_snapshot:
                  - endpoint: GET /v1/generate
                    scheme: exact
                    network: eip155:8453
                    asset: '0x833589fcd6edb6e08f4c7c32d4f71b54bda02913'
                    assetName: USDC
                    payTo: 0x2222…2222
                    price: '10000'
                    mimeType: application/json
                    x402Version: 2
                  new_snapshot:
                  - endpoint: GET /v1/generate
                    scheme: exact
                    network: eip155:8453
                    asset: '0x833589fcd6edb6e08f4c7c32d4f71b54bda02913'
                    assetName: USDC
                    payTo: 0x1111…1111
                    price: '10000'
                    mimeType: application/json
                    x402Version: 2
                meta:
                  total: 1
                  page: 1
                  per_page: 25
                  total_pages: 1
                  days: 90
                  type_counts:
                    payto_changed: 1
                    price_changed: 0
                    schema_changed: 0
                  window_total: 1
        '400':
          description: Invalid type filter (outside the accepted set)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /networks:
    get:
      operationId: getNetworks
      summary: List supported blockchain networks
      description: Returns all blockchain networks that x402 services accept payments on. Each network
        includes a service count and average uptime. Uses CAIP-2 identifiers.
      tags:
      - Reference
      responses:
        '200':
          description: Array of networks with stats. meta.avg_uptime_method declares the aggregation method
            (identical to /stats).
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Network'
                  meta:
                    type: object
                    properties:
                      avg_uptime_method:
                        type: string
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /stats:
    get:
      operationId: getStats
      summary: Aggregate ecosystem statistics
      description: 'Returns aggregate statistics about the x402 ecosystem: total services, endpoints,
        networks, uptime averages, response time averages, checks per hour, and pricing aggregates (avg/min/max/median
        price in USD).'
      tags:
      - Stats
      responses:
        '200':
          description: Aggregate stats with pricing breakdown
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AggregateStats'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
              example:
                data:
                  total_services: 522
                  total_endpoints: 3132
                  total_networks: 25
                  total_networks_note: mainnet networks only; networks[] includes testnets flagged by
                    is_mainnet
                  avg_uptime_24h: 87.9
                  avg_uptime_7d: 89
                  avg_uptime_method: per-service mean of the latest daily uptime rollup
                  avg_response_time_ms: 552
                  checks_per_hour: 1740
                  pricing:
                    avg_price_usd: 0.47
                    min_price_usd: 0
                    max_price_usd: 50
                    median_price_usd: 0.01
                  networks:
                  - abbreviation: BSE
                    is_mainnet: true
                    service_count: 490
                    avg_uptime: 88.9
                  - abbreviation: SOL
                    is_mainnet: true
                    service_count: 198
                    avg_uptime: 94.4
                  traction:
                    unique_buyers_30d: 5535
                    volume_usd_30d: 237198.115758
                    settlement_count_30d: 8485593
                    measured_services: 372
                    measured_networks:
                    - BSE
                    - POL
                    - SOL
                    coverage_of_measured_flow_pct: 17.9
                    measured_flow_freshness:
                      oldest_cursor_age_seconds: 771
                      stale_sync_groups: 0
                      total_sync_groups: 49
                      stale_facilitators: 0
                      total_facilitators: 36
                    top_10_services_share_pct: 98.3
                    top_1_service_share_pct: 87.1
                    top_1_service_top_buyer_share_pct: 99.1
                    method: dedup on settlement identity (network,tx_hash,log_index); do not sum per-service
                      figures; measured_networks are network abbreviations, the per-service traction block
                      uses CAIP-2 ids; coverage_of_measured_flow_pct is the listed dedup volume as a share
                      of the flow measurable by our tracked settlers (the facilitator daily volume we
                      measure, not the whole ecosystem); top_10_services_share_pct is the top 10 services'
                      share of the same 30d dedup volume; both are precomputed hourly and null until the
                      first refresh
                    caveat: measured across listed services, a measured floor over 30d, not an ecosystem
                      total; USDC via measured facilitators only
                  verified_count: 1
                  payment_ready_count: 470
                  listing_growth:
                    new_7d: 54
                    new_30d: 194
                  facilitator_volume_usd_30d: 1296984.27
                  facilitator_volume_note: Aggregate facilitator settlement volume over 30 days across
                    measured facilitators; a superset of the listed-services flow, not de-duplicated on
                    settlement identity.
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /categories:
    get:
      operationId: getCategories
      summary: List service categories
      description: Returns the distinct list of categories currently used by listed services. Useful for
        populating filter dropdowns or submission forms.
      tags:
      - Reference
      responses:
        '200':
          description: List of category strings
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                  provenance:
                    $ref: '#/components/schemas/Provenance'
              example:
                data:
                - AI
                - Blockchain
                - Compute
                - Content
                - Data
                - Finance
                - Other
                - Verification
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /submit:
    post:
      operationId: submitService
      summary: Submit a new service or facilitator for review
      description: 'Submit a new x402-compatible service, or an x402 facilitator (settlement operator),
        to be reviewed and listed in the directory. The optional body field "type" selects the branch:
        omit it (or use any value other than "facilitator") for a service submission; set "type": "facilitator"
        for a facilitator submission. Service submissions are automatically probed for valid HTTP 402
        responses on the provided endpoints. Facilitator submissions are checked for on-chain presence
        instead: the enabled EVM chains among the declared networks are scanned for recent USDC settlement
        activity originated by the submitted settler addresses (30-day window, 15 seconds total budget);
        Solana and chains outside the measured registry are recorded as declared claims and resolved at
        manual review. A failed or idle probe never blocks the submission. Every submission of either
        type is manually reviewed before appearing in the directory. A service URL on a free compute host
        (vercel.app, workers.dev, pages.dev, netlify.app, onrender.com, railway.app, fly.dev, herokuapp.com,
        replit.app, glitch.me, deno.dev, pythonanywhere.com, firebaseapp.com, web.app and similar) is
        answered with HTTP 402: submitting it costs a one-off $1 USDC on Base, non-refundable, which buys
        a place in the human review queue and nothing more. A service URL on static-only hosting (github.io,
        gitlab.io, surge.sh) or on a dev-tunnel domain (ngrok, trycloudflare.com, localhost.run, serveo.net
        and similar) is rejected with HTTP 400 at any price. Website URLs are rejected only when they
        are dev-tunnel domains. Facilitator submissions are rejected with HTTP 400 for any free-hosting
        website URL, with no paid option. Each email address may submit once every 7 days per submission
        type (service and facilitator cooldowns are tracked separately): a second submission of the same
        type within the cooldown returns HTTP 429 with a Retry-After header (seconds until the cooldown
        ends). Submissions still pending after the 7-day review window are automatically rejected and
        the submitter is notified by email.'
      tags:
      - Submissions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/ServiceSubmissionRequest'
              - $ref: '#/components/schemas/FacilitatorSubmissionRequest'
            examples:
              service:
                summary: Service submission (default branch)
                value:
                  url: https://api.example.com
                  email: dev@example.com
                  service_name: Example x402 API
                  description: AI-powered text generation via x402 payments
                  website_url: https://example.com
                  category: AI
                  endpoints:
                  - /v1/generate
                  - /v1/classify
                  notes: Supports both Base and Solana networks
              facilitator:
                summary: Facilitator submission (type=facilitator)
                value:
                  type: facilitator
                  email: operator@examplepay.com
                  facilitator_name: ExamplePay
                  website_url: https://examplepay.com
                  description: x402 settlement facilitator for USDC on Base and Solana
                  settler_addresses:
                  - '0x7c5fa2ab8c9d01234e56f7a8b9c0d1e2f3a4b5c6'
                  - 4Nd1mYQZ7d5xUEhFcq8xJwzB3tYkTn5eGf2u1V9pQrSt
                  networks:
                  - base
                  - solana
                  facilitator_id_slug: examplepay
                  token_claims:
                  - USDC
                  claimed_volume_usd: '125000'
                  notes: Settling x402 payments since May 2026
      responses:
        '201':
          description: Submission created, pending manual review
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      submission_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum:
                        - pending
                      probe_result:
                        description: Result of the automatic pre-review probe; null when the probe timed
                          out or could not run. Service submissions report the HTTP 402 probe (endpoints_found,
                          errors); facilitator submissions report the on-chain presence probe (addresses_with_activity,
                          tx_count, errors) over the enabled EVM chains.
                        oneOf:
                        - type: object
                          title: Service probe result
                          properties:
                            endpoints_found:
                              type: integer
                            errors:
                              type: array
                              items:
                                type: string
                        - type: object
                          title: Facilitator probe result
                          properties:
                            addresses_with_activity:
                              type: array
                              items:
                                type: string
                              description: Submitted settler addresses with at least one settlement observed
                                in the probe window
                            tx_count:
                              type: integer
                              description: Total settlement transactions observed in the probe window
                                across the probed chains
                            errors:
                              type: array
                              items:
                                type: string
                        - type: 'null'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: 'Payment required (service branch only). Three cases: the service URL is on a free
            compute host ($1.00); the latest submission for this email or this service URL was rejected
            less than 14 days ago ($0.50, which replaces the 7-day cooldown, and once 14 days have passed
            resubmitting is free again); or both, in which case the two stack into a single $1.50 charge.
            Free-host fees are never refunded and buy review, not a listing. Read accepts[0].amount and
            resource.description for the amount and the reason of this particular charge; the body error
            code is "resubmission_fee_required" for the resubmit-only case and "free_host_fee_required"
            whenever the free-host fee is part of it. Pay accepts[0] with an x402-capable client and retry
            the same request with a PAYMENT-SIGNATURE header. When the charge layer is offline the free-host
            case is rejected with HTTP 400 instead, as it was before this fee existed. The PAYMENT-REQUIRED
            response header carries the same x402 PaymentRequired object base64-encoded, without the app-level
            message field (which is body-only).'
          headers:
            PAYMENT-REQUIRED:
              schema:
                type: string
              description: base64 JSON of the x402 PaymentRequired object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequired'
              example:
                x402Version: 2
                accepts:
                - scheme: exact
                  network: eip155:8453
                  asset: '0x833589fcd6edb6e08f4c7c32d4f71b54bda02913'
                  amount: '500000'
                  payTo: '0x0000000000000000000000000000000000000000'
                  maxTimeoutSeconds: 300
                  extra:
                    name: USD Coin
                    version: '2'
                resource:
                  url: https://x402-list.com/api/v1/submit
                  description: Resubmission fee after a rejected submission
                  mimeType: application/json
                  serviceName: x402 List
                error: resubmission_fee_required
                message: A submission from this email or for this URL was rejected less than 14 days ago,
                  so resubmitting now requires a $0.50 x402 payment on Base (USDC). Pay with an x402-capable
                  client by sending the request again with a PAYMENT-SIGNATURE header, or wait until 14
                  days have passed to resubmit for free. See https://x402-list.com/api for the flow.
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /services/{slug}/request-update:
    post:
      operationId: requestServiceUpdate
      summary: Request an owner update to a listed service (F10)
      description: 'Service owners propose changes to the DECLARATIVE metadata of their listing: name,
        description, website_url, category, contact_email, new endpoints (endpoints_add, each optionally
        prefixed with its HTTP method), and base_url (an identity change, reviewed with extra scrutiny).
        Measured fields (verified, uptime, pricing, status, payTo) are read-only for everyone and cannot
        be updated through this channel. All fields are compared server-side against the live listing
        and only actual changes are recorded; submitting with no effective change returns HTTP 400. The
        response contains a ONE-TIME ownership token (returned only once, never stored in clear): publish
        it as a line of a plain-text file at {base_url origin}/.well-known/x402list.txt on the CURRENTLY
        listed domain, then call verify-ownership. The token expires after 72 hours. After verification
        the request goes to manual review ALWAYS; the requester is notified by email of the outcome. Nothing
        about a pending request is public. Cooldown: one update request per (email, service) pair every
        7 days (HTTP 429 with Retry-After). Only a live or approved request counts: a rejected request
        does not, so a corrected one can be sent immediately. A request already verified and under review
        for the same service blocks new ones (HTTP 409).'
      tags:
      - Submissions
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceUpdateRequest'
            example:
              email: owner@example.com
              name: Example x402 API
              base_url: https://api.example.com
              website_url: https://example.com
              category: AI
              description: AI-powered text generation via x402 payments
              contact_email: owner@example.com
              endpoints_add:
              - /v1/summarize
              - POST /v1/chat/completions
      responses:
        '201':
          description: Update request created, awaiting ownership verification
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      request_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum:
                        - pending_verification
                      proposed_changes:
                        type: object
                        description: 'The server-computed diff: only the fields that actually differ from
                          the live listing. endpoints_add is echoed back normalized, as {method, path}
                          objects'
                      ownership_token:
                        type: string
                        description: One-time domain-proof token. Shown ONLY in this response; publish
                          it at the well_known_url before it expires
                      well_known_url:
                        type: string
                        format: uri
                      well_known_path:
                        type: string
                        enum:
                        - /.well-known/x402list.txt
                      token_expires_at:
                        type: string
                        format: date-time
                      verify:
                        type: object
                        description: The follow-up call that completes the proof
                      reissue:
                        type: object
                        description: 'The recovery call if the ownership_token is lost: POST it once and
                          a replacement is emailed to the address on the request'
                      note:
                        type: string
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '400':
          description: Validation error or no effective change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: A verified update request for this service is already under review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /services/{slug}/reissue-token:
    post:
      operationId: reissueOwnershipToken
      summary: Re-issue a lost ownership token for an update request (F10)
      description: 'The ownership token is returned exactly once, by request-update. If it is lost, this
        endpoint queues a replacement: POST the request_id together with the SAME email that created the
        request. The new token is delivered BY EMAIL ONLY, to the address already on the request, and
        never appears in this response. The response is deliberately identical in every case (request
        found or not, wrong email, already verified, already reviewed, token expired, re-issue already
        queued): this endpoint is not an oracle for whether a pending update request exists, which is
        information x402-list does not publish. For the same reason there is no GET. One re-issue per
        update request: it restores access to the proof, it does not extend the request indefinitely.
        Lost a second time: send a new update request once the current one lapses, since a pending request
        with a live token is what holds the 7-day cooldown on that email and listing. A request whose
        token has already expired holds nothing, so its replacement can go out immediately. Rate limited
        per IP more tightly than the general API budget.'
      tags:
      - Submissions
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - request_id
              - email
              properties:
                request_id:
                  type: string
                  format: uuid
                email:
                  type: string
                  format: email
                  description: The email used to create the update request
            example:
              request_id: 3f6b1c2a-9d4e-4f6a-8b7c-1a2b3c4d5e6f
              email: owner@example.com
      responses:
        '200':
          description: Accepted. The same body is returned whether or not a matching request exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                        - accepted
                      message:
                        type: string
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '400':
          description: Missing or malformed request_id / email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /services/{slug}/verify-ownership:
    post:
      operationId: verifyServiceOwnership
      summary: Verify domain ownership for an update request (F10)
      description: 'Completes the domain proof for a pending update request: the server fetches {base_url
        origin}/.well-known/x402list.txt from the CURRENTLY listed domain (SSRF-guarded, redirects revalidated,
        10s timeout) and matches the published token against the stored hash. The token is one-shot: on
        success it is consumed and cannot verify again. If the proposed diff touches base_url or adds
        endpoints, the standard HTTP 402 probe runs right after verification and its result is attached
        for the reviewer. Verification never auto-applies anything: review remains manual and the outcome
        is emailed.'
      tags:
      - Submissions
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - request_id
              properties:
                request_id:
                  type: string
                  format: uuid
            example:
              request_id: 3f6b1c2a-9d4e-4f6a-8b7c-1a2b3c4d5e6f
      responses:
        '200':
          description: Ownership verified (or already verified)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      request_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum:
                        - verified
                        - already_verified
                      probe_result:
                        description: HTTP 402 probe summary when the diff touches base_url/endpoints;
                          null otherwise or when the probe timed out
                        oneOf:
                        - type: object
                          properties:
                            endpoints_found:
                              type: integer
                            errors:
                              type: array
                              items:
                                type: string
                        - type: 'null'
                      note:
                        type: string
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '400':
          description: Well-known file unreachable or token not found in it
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Request already reviewed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: Ownership token expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /suggestions:
    post:
      operationId: postSuggestion
      summary: Post a paid suggestion for the directory (F11)
      description: 'Suggest a change, feature, bug, or data fix for the x402 List directory itself. The
        feedback channel is paid in x402: every suggestion costs a one-time $0.10 USDC (x402) payment
        on Base, as anti-spam skin-in-the-game. There is NO refund. Suggestions are internal and manually
        reviewed; they are never published and there is no public roadmap. This endpoint is agent-first
        (JSON only). The paid flow is the standard x402 handshake: the first call (no PAYMENT-SIGNATURE)
        returns HTTP 402 with a PAYMENT-REQUIRED header and an accepts[] body (single option, $0.10 USDC
        on Base) plus the app-level error code suggestion_fee_required; sign the payment and retry the
        same request with a PAYMENT-SIGNATURE header. On success the 201 carries a PAYMENT-RESPONSE header.
        When the payment layer is not configured, the endpoint answers HTTP 503 (suggestions temporarily
        unavailable).'
      tags:
      - Suggestions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestionRequest'
            example:
              text: Add a /api/v1/services bulk export endpoint for offline indexing
              category: feature
              email: agent@example.com
      responses:
        '201':
          description: Suggestion received, pending manual review
          headers:
            PAYMENT-RESPONSE:
              schema:
                type: string
              description: base64 JSON of the x402 SettleResponse (settlement receipt)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum:
                        - received
                  provenance:
                    $ref: '#/components/schemas/Provenance'
        '400':
          description: Validation error (text missing or too long, invalid category or email)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: 'Payment required: send accepts[0] ($0.10 USDC on Base) with an x402-capable client
            and retry the same request with a PAYMENT-SIGNATURE header. The PAYMENT-REQUIRED response
            header carries the same x402 PaymentRequired object base64-encoded, without the app-level
            message field (which is body-only).'
          headers:
            PAYMENT-REQUIRED:
              schema:
                type: string
              description: base64 JSON of the x402 PaymentRequired object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequired'
              example:
                x402Version: 2
                accepts:
                - scheme: exact
                  network: eip155:8453
                  asset: '0x833589fcd6edb6e08f4c7c32d4f71b54bda02913'
                  amount: '100000'
                  payTo: '0x0000000000000000000000000000000000000000'
                  maxTimeoutSeconds: 300
                  extra:
                    name: USD Coin
                    version: '2'
                resource:
                  url: https://x402-list.com/api/v1/suggestions
                  description: Suggestion fee for x402 List directory feedback
                  mimeType: application/json
                  serviceName: x402 List
                error: suggestion_fee_required
                message: 'Posting a suggestion to the x402 List directory requires a $0.10 x402 payment
                  on Base (USDC). Pay with an x402-capable client: send the request again with a PAYMENT-SIGNATURE
                  header. See https://x402-list.com/api for the flow.'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          description: The payment layer is not configured, so the suggestion box is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /best:
    get:
      operationId: getBestServices
      summary: Recommend the best x402 service(s) for a need
      description: Ranks the directory and returns the best x402 service(s) for a stated need, in one
        request (no paging). The ranking is the same two-stage relevance-then-quality scoring the MCP
        x402_find_best_service tool uses, run server-side. It is scored mostly on per-service reliability
        (live status, verification, uptime, response time), x402 compliance, and price (USD), filtered
        by category and network, with a SMALL (about 10%) weight on on-chain traction (settlement volume,
        transaction count, and unique buyers measured per service over its known payTo via recognized
        settlers, a conservative undercount). A deterministic danger flag removes a service from this
        surface entirely (its slug is listed in excluded_danger); a residual warning is penalized but
        kept. When a free-text q is given, each candidate is also scored on how well the query matches
        its AI-derived capability tags and summary plus its name/description/category (falling back to
        a plain substring match). The x402 compliance term is the share of deterministic conformance checks
        the service passes, capped at 0.6 (the floor of the C band) when at least one of its EVM routes
        is missing the EIP-712 domain parameters a standard x402 client needs in order to sign a payment.
        That cap is a statement about the payment envelope, not about the merit of the service, and it
        is what moved the scoring to generation 2. The generation served today is 3, which also gates
        the on-chain traction term on an absolute 30-day volume floor, discounts a payout concentrated
        on one buyer, and scores a service that publishes no payTo as zero instead of renormalizing around
        it. Scores produced under an earlier generation are not comparable with these; meta.ranking_version
        on every response says which one produced it. This endpoint is free and metered like every other
        GET on /api/v1/* (beyond the free daily quota it answers 402; see the metering note). Prices are
        decimal US dollars.
      tags:
      - Recommender
      parameters:
      - name: q
        in: query
        schema:
          type: string
        description: Free-text need description, matched against each service name/description/category
          plus its AI-derived capability tags and summary.
      - name: category
        in: query
        schema:
          type: string
          enum:
          - AI
          - Blockchain
          - Compute
          - Content
          - Data
          - Finance
          - Other
          - Verification
        description: Desired service category from the closed category set (case-insensitive). A value
          outside the set returns 400; omit for all.
      - name: network
        in: query
        schema:
          type: string
        description: Required network name or abbreviation, e.g. "Base" or "BSE". A value outside the
          known network set returns 400.
      - name: max_price_usd
        in: query
        schema:
          type: number
          minimum: 0
        description: Cap on min_price_usd in US dollars; a service priced cheaper or equal passes (a service
          with no known price is excluded).
      - name: require_verified
        in: query
        schema:
          type: boolean
          default: false
        description: 'If true, only FORTE-tier verified services are eligible (treno D3: a paid delivery-probe
          settled and delivered, drift-revocable; the payment-ready base tier is NOT included). A hard
          filter on the eligible pool, not a scoring input, so it does not change ranking_version. A value
          other than true/false returns 400.'
      - name: prefer
        in: query
        schema:
          type: string
          enum:
          - balanced
          - cheapest
          - fastest
          - most_reliable
          default: balanced
        description: Tie-breaking emphasis for the ranking weights. A value outside the enum returns 400.
      - name: limit
        in: query
        schema:
          type: integer
          default: 5
          minimum: 1
          maximum: 20
        description: How many ranked recommendations to return (clamped to 1-20).
      - name: include_facilitator_context
        in: query
        schema:
          type: boolean
          default: false
        description: If true, also return top facilitators by 7d settlement volume as separate ecosystem
          context (NOT per-service). A value other than true/false returns 400.
      responses:
        '200':
          description: Ranked recommendations plus the ranking basis and any danger-excluded slugs. meta.ranking_version
            pins the scoring generation.
          headers:
            X-Meter-Remaining:
              $ref: '#/components/headers/MeterRemaining'
            X-Meter-Reset:
              $ref: '#/components/headers/MeterReset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BestResult'
                  meta:
                    type: object
                    properties:
                      ranking_version:
                        type: integer
                        description: 'Scoring generation; bumps when the ranking math or its weights change.
                          Currently 3: the compliance term carries the signability cap described above
                          (generation 2) and the traction term carries an absolute volume floor with a
                          single-buyer discount (generation 3). Pin it if you compare scores over time.'
                  provenance:
                    $ref: '#/components/schemas/Provenance'
              example:
                data:
                  recommendations:
                  - rank: 1
                    slug: weather-x402
                    name: Weather x402
                    category: Data
                    status: online
                    verified: true
                    payment_ready: true
                    uptime_24h: 100
                    avg_response_time_ms: 120
                    min_price_usd: 0.01
                    price_max_usd: 0.01
                    category_percentile_max: 10
                    distinct_price_count: 1
                    networks:
                    - BSE
                    endpoint_count: 2
                    compliance_grade: A
                    compliance_failed_checks: []
                    risk_level: clean
                    capability_tags:
                      value:
                      - weather
                      - forecast
                      confidence: 0.9
                      source: ai
                    traction_status: measured
                    volume_usd_30d: 42.5
                    unique_buyers_30d: 7
                    shared_payout: false
                    top_buyer_share_30d: 0.3
                    score: 0.82
                    relevance: 1
                    quality: 0.79
                    why: online, verified, 100% 24h uptime, 120ms, $0.01 min price, compliance A
                  ranking_basis: Two stages. (1) RELEVANCE ... (2) QUALITY ...
                  excluded_danger: []
                  facilitator_context: null
                meta:
                  ranking_version: 3
        '400':
          description: Invalid parameter (prefer, require_verified, include_facilitator_context, max_price_usd,
            category, or a network outside the known set)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          $ref: '#/components/responses/MeteredPaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /assess:
    post:
      operationId: postAssess
      summary: On-demand paid AI assessment of a service shortlist
      description: 'Runs a FRESH flagship-LLM comparison of an already-assessed shortlist of services
        for a stated need, and charges x402 only for that fresh reasoning. It never charges to read an
        already-computed assessment (that stays free on the service detail). The report is a modular envelope:
        data carries one block per priced module (today the advisor answer under data.answer), and meta
        carries report_version and the modules_run list, so future modules are additive and never breaking.
        The paid flow is the standard x402 handshake: the first call (no PAYMENT-SIGNATURE) returns HTTP
        402 with a PAYMENT-REQUIRED header and an accepts[] body (single option, $0.25 USDC on Base);
        sign the payment and retry the same request with a PAYMENT-SIGNATURE header. On success the 200
        carries a PAYMENT-RESPONSE header. You may optionally include a probe target (probe { slug, endpoint_path?
        }) to also test one listed service live: after the fresh reasoning the server makes a real x402
        payment to that endpoint and analyzes the response, and the single accepts[0] amount is then $0.25
        plus that endpoint price X. The report then carries a probe_report block with a verdict plus truncated
        extracts (never the verbatim third-party body). The probe is only offered when live probing is
        armed, and probe fees are non-refundable regardless of outcome. If the fresh run cannot be produced
        (an unresolvable shortlist or a model miss) the endpoint answers 503 BEFORE settling, so the caller
        is never charged. When the payment layer or the on-demand assessment feature is not configured,
        the endpoint answers 503. There is NO refund. This endpoint is agent-first (JSON only).'
      tags:
      - Assess
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessRequest'
            example:
              question: Which of these is the cheapest reliable weather API for a high-volume agent?
              services:
              - weather-x402
              - forecast-api
              - meteo-402
      responses:
        '200':
          description: The modular assessment report. data.answer is the AI-marked recommendation; meta
            carries report_version and modules_run. The PAYMENT-RESPONSE header carries the settlement
            receipt.
          headers:
            PAYMENT-RESPONSE:
              schema:
                type: string
              description: base64 JSON of the x402 SettleResponse (settlement receipt)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AssessReport'
                  meta:
                    type: object
                    properties:
                      report_version:
                        type: integer
                        description: Report contract generation; bumps when the envelope or a module block
                          shape changes.
                      modules_run:
                        type: array
                        items:
                          type: string
                        description: Ids of the priced modules that ran (e.g. ["advisor"]).
                  provenance:
                    $ref: '#/components/schemas/Provenance'
              example:
                data:
                  answer:
                    question: Which of these is the cheapest reliable weather API for a high-volume agent?
                    recommendation:
                      value: 'weather-x402 fits best: lowest price and highest measured uptime of the
                        three.'
                      confidence: 0.72
                      source: ai
                    ranking:
                    - slug: weather-x402
                      reason: lowest price at $0.01 with 100% 24h uptime
                    - slug: forecast-api
                      reason: comparable reliability but a higher price tier
                    model: glm-5.2
                    prompt_version: f2-advisor-1
                    candidates_considered: 3
                    note: AI-generated from the measured signals of the listed services. Not an endorsement;
                      verify pricing and payTo before paying.
                meta:
                  report_version: 1
                  modules_run:
                  - advisor
        '400':
          description: Validation error (question missing or too long, or services not a non-empty array
            of at most 8 valid slugs)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: 'Payment required: pay accepts[0] ($0.25 USDC on Base) with an x402-capable client
            and retry the same request with a PAYMENT-SIGNATURE header; the successful response then carries
            a PAYMENT-RESPONSE header. The PAYMENT-REQUIRED response header carries the same x402 PaymentRequired
            object base64-encoded. When the request includes a probe target and live probing is armed,
            the single accepts[0] amount is $0.25 plus the probed endpoint price X instead.'
          headers:
            PAYMENT-REQUIRED:
              schema:
                type: string
              description: base64 JSON of the x402 PaymentRequired object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequired'
              example:
                x402Version: 2
                accepts:
                - scheme: exact
                  network: eip155:8453
                  asset: '0x833589fcd6edb6e08f4c7c32d4f71b54bda02913'
                  amount: '250000'
                  payTo: '0x0000000000000000000000000000000000000000'
                  maxTimeoutSeconds: 300
                  extra:
                    name: USD Coin
                    version: '2'
                resource:
                  url: https://x402-list.com/api/v1/assess
                  description: 'On-demand x402 List assessment: a fresh AI comparison of the requested
                    services for your need'
                  mimeType: application/json
                  serviceName: x402 List
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          description: The payment layer or the on-demand assessment feature is not configured, so the
            endpoint is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ServiceListItem:
      type: object
      description: A service in the directory listing with computed summary fields
      properties:
        slug:
          type: string
          description: URL-friendly identifier
          example: weather-x402
        name:
          type: string
          example: Weather x402
        description:
          type: string
        base_url:
          type: string
          format: uri
        website_url:
          type:
          - string
          - 'null'
          format: uri
        category:
          type: string
          example: Data
        source:
          type: string
          enum:
          - submitted
          - imported:bazaar
          - imported:x402scan
          description: 'Provenance (D4): how this listing entered the directory. "submitted" = an operator
            or user submitted it through /submit; "imported:<origin>" = auto-imported from a public x402
            index (not an operator endorsement). An operator can claim and correct an imported listing
            through the owner-update flow at /services/{slug}/update.'
          example: submitted
        status:
          type: string
          enum:
          - online
          - degraded
          - offline
          - unknown
        verified:
          type: boolean
          description: 'FORTE tier (treno D3): a paid delivery-probe settled on-chain and delivered AND
            the badge was not since revoked on payTo/schema drift. No time decay. SEMANTIC CHANGE: this
            field previously carried the broad "answers a valid 402 and is alive" signal, which is now
            payment_ready.'
        payment_ready:
          type: boolean
          description: 'BASE tier (treno D3): the endpoint answered a valid x402 402 challenge and is
            alive within the decay window (a probe success within the last 7 days, or api-key exempt).
            The broad discovery signal the verified field used to carry.'
        endpoint_count:
          type: integer
          description: Number of active endpoints
        min_price_usd:
          type:
          - number
          - 'null'
          description: Lowest price in USD across all endpoints
        networks:
          type: array
          items:
            type: string
          description: Network abbreviations supported by this service (e.g. ["BSE", "SOL"])
        networks_caip2:
          type: array
          items:
            type: string
          description: Canonical CAIP-2 identifiers for cross-endpoint joins, index-aligned with networks
            (e.g. ["eip155:8453", "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"]). Falls back to the stored
            network id for networks not yet in the canonical map, mirroring /networks .caip2, so service-to-network
            joins never silently break
        uptime_24h:
          type:
          - number
          - 'null'
          description: Uptime percentage over last 24 hours; null = not yet monitored (no checks recorded
            in the window)
        avg_response_time_ms:
          type:
          - integer
          - 'null'
        last_checked_at:
          type:
          - string
          - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
        assessment:
          description: Compact per-service assessment summary (evidence-backed). null until the service
            is first assessed. Measured sub-scores are plain values; capability_tags and summary are AI-derived
            and carry {value,confidence,source:"ai"} provenance so an AI guess is never mistaken for a
            measured fact.
          oneOf:
          - $ref: '#/components/schemas/AssessmentSummary'
          - type: 'null'
    ServiceDetail:
      type: object
      description: Full service detail including endpoints with pricing
      properties:
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        base_url:
          type: string
          format: uri
        website_url:
          type:
          - string
          - 'null'
          format: uri
        category:
          type: string
        endpoint_count:
          type: integer
          description: Number of active endpoints
        min_price_usd:
          type:
          - number
          - 'null'
          description: Lowest price in USD across all endpoints
        uptime_24h:
          type:
          - number
          - 'null'
          description: Uptime percentage over last 24 hours; null = not yet monitored (no checks recorded
            in the window)
        source:
          type: string
          enum:
          - submitted
          - imported:bazaar
          - imported:x402scan
          description: 'Provenance (D4): how this listing entered the directory. "submitted" = an operator
            or user submitted it through /submit; "imported:<origin>" = auto-imported from a public x402
            index (not an operator endorsement). An operator can claim and correct an imported listing
            through the owner-update flow at /services/{slug}/update.'
          example: submitted
        status:
          type: string
          enum:
          - online
          - degraded
          - offline
          - unknown
        verified:
          type: boolean
          description: 'FORTE tier (treno D3): a paid delivery-probe settled on-chain and delivered AND
            the badge was not since revoked on payTo/schema drift. It has NO time-based decay - it decays
            one-way through the monitor drift hook and re-earns only by paying again. SEMANTIC CHANGE:
            this field previously carried the broad "answers a valid 402 and is alive" signal, which is
            now payment_ready. Starts empty and grows only with real payments, so it can be false for
            a service that is very much alive.'
        verified_until:
          type:
[...]
